<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://umnichka.co.ua">{{ 'menu.title'|trans }}</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="true" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            {{ 'menu.children.name'|trans }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('child_new') }}">{{ 'menu.add'|trans }}</a></li>
                            <li><a href="{{ path('child_index') }}">{{ 'menu.list'|trans }}</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('section_index') }}">{{ 'menu.sections.name'|trans }}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            {{ 'menu.users.name'|trans }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('all_users') }}">{{ 'users.all_users'|trans }}</a></li>
                            <li><a href="{{ path('new_users') }}">{{ 'users.new_users'|trans }}</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('send_mail') }}">{{ 'menu.sending'|trans }}</a></li>
                </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('fos_user_change_password') }}">{{ 'menu.change_password'|trans }}</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">{{ 'menu.logout'|trans }}</a></li>
            </ul>
        </div>
    </div>
</nav>
