{% extends '@App/layout.html.twig' %}

{% block admin_content %}
    {{ form_start(form, { 'attr': { 'class': 'form-middle' }}) }}
        <h2>{{ 'children.create'|trans }}</h2>
        {{ form_widget(form) }}
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="{{ 'forms.create'|trans }}" />
    {{ form_end(form) }}

    {% from '@App/macros.html.twig' import backBlock %}
    {{ backBlock(path('child_index')) }}
{% endblock %}
