<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Umnichka</title>

    <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/signin.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        {% for flash_message in app.session.flashbag.get('success') %}
            <div class="alert alert-success" role="alert">{{ flash_message }}</div>
        {% endfor %}
        {% for flash_message in app.session.flashbag.get('error') %}
            <div class="alert alert-danger" role="alert">{{ flash_message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>

    <script src="{{ asset('bundles/app/js/jquery-2.2.0.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
</body>
</html>
