{% extends '@App/Admin/layout.html.twig' %}

{% block admin_content %}
    <h2>{{ 'menu.sections.name'|trans }}</h2>
    {{ form_start(form, { 'attr': { 'action': path('section_new')}}) }}
        <div class="input-group">
            {{ form_widget(form.name, { 'attr': { 'placeholder': 'section.form.new_section'|trans }}) }}
            <div class="input-group-btn">
                <button type="submit" class="btn btn-default">{{ 'menu.add'|trans }}</button>
            </div>
        </div>
    {{ form_end(form) }}

    <table class="table table-bordered table-striped children-table">
        <thead>
        <tr>
            <th>{{ 'section.form.name'|trans }}</th>
            <th class="table-last">{{ 'menu.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for section in sections %}
            <tr>
                <th>{{ section.name }}</th>
                <th class="table-last">
                    <a href="{{ path('lessons_index_by_section', { 'id': section.id }) }}" class="btn btn-default">{{ 'section.lessons'|trans }}</a>
                    <a href="{{ path('section_edit', { 'id': section.id }) }}"
                       class="btn btn-default">{{ 'menu.buttons.edit'|trans }}</a>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
