{% extends '@App/Admin/layout.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block admin_content %}
    <h2>{{ section.name }}</h2>
    {{ form_start(form, { 'attr': { 'action': path('lesson_new', {'id': section.id }) }}) }}
    <div class="input-group">
        <label>
            {{ 'lesson.add_lesson'|trans }}
            {{ form_widget(form.time, {'attr': { 'class': 'add-lesson-form' }}) }}
        </label>
        <div class="input-group-btn">
            <button type="submit" class="btn btn-default">{{ 'menu.add'|trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}
    <table class="table table-bordered table-striped children-table">
        <thead>
        <tr>
            <th>{{ 'lesson.time'|trans }}</th>
            <th class="table-last">{{ 'menu.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr>
                <th>{{ lesson.time|date }}</th>
                <th class="table-last">
                    <a href="{{ path('lesson_attendences', { 'id': section.id, 'lessonId': lesson.id }) }}" class="btn btn-default">
                        {{ 'lesson.attendence'|trans }}
                    </a>
                    <form method="post" action="{{ path('lesson_delete', {'id': section.id, 'lessonId': lesson.id}) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-default">{{ 'menu.buttons.delete'|trans }}</button>
                    </form>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ pagerfanta(lessons) }}

    {% from '@App/macros.html.twig' import backBlock %}
    {{ backBlock(path('section_index')) }}
{% endblock %}
